In [9]:
#라이브러리 불러오기
import pandas as pd

In [10]:
path = 'https://bit.ly/TipsFile'
tip = pd.read_csv(path)

In [11]:
#상위 데이터 확인
print(tip.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
#total_bill 열 확인
print(tip['total_bill'])

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [8]:
# tip,day,time 열만 조회
print(tip[['tip' , 'day' , 'time']])

      tip   day    time
0    1.01   Sun  Dinner
1    1.66   Sun  Dinner
2    3.50   Sun  Dinner
3    3.31   Sun  Dinner
4    3.61   Sun  Dinner
..    ...   ...     ...
239  5.92   Sat  Dinner
240  2.00   Sat  Dinner
241  2.00   Sat  Dinner
242  1.75   Sat  Dinner
243  3.00  Thur  Dinner

[244 rows x 3 columns]

In [9]:
#tip.day,time 열만 tip 열 기준으로 내림차순 정렬해서 조회
tip1 = tip[['tip','day','time']]
tip2 = tip1.sort_values(by='tip',ascending = False)
print(tip2)

       tip   day    time
170  10.00   Sat  Dinner
212   9.00   Sat  Dinner
23    7.58   Sat  Dinner
59    6.73   Sat  Dinner
141   6.70  Thur   Lunch
..     ...   ...     ...
0     1.01   Sun  Dinner
236   1.00   Sat  Dinner
111   1.00   Sat  Dinner
67    1.00   Sat  Dinner
92    1.00   Fri  Dinner

[244 rows x 3 columns]

## 조건으로 조회

df.loc[조건] 형태로 조건을 지정해 조건에 만족하는 데이터만 조회할 수 있다.
우선 조건이 제대로 판단되는지 확인 후 조건을 대괄호 안에 넣으면 된다!

### 단일 조건 조회

tip.loc[열정보,행정보] 콤마는 무조건 하나만 들어간다!

특정열 빼고는 전부 loc를 써주자! 컬럼 조회 빼고는 모두 쓰기

In [5]:
#모든행을 가져오고 팁만 가져와라. 앞에있는 :는 생략 불가능

print(tip.loc[ : , 'tip'])

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [10]:
print(tip.loc[tip['tip']>6.0])

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3

 ### 여러조건 조회 or,and  대신 | & 사용

In [11]:
print(tip.loc [(tip['tip'] > 6.0) | (tip['day'] ==' Sat')])

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3

## 데이터 집계

In [14]:
#total_bill 합계
print(tip['total_bill'].sum())

4827.77

In [16]:
#total_bill, tip 각각의 합계
print(tip[['total_bill','tip']].sum())

total_bill    4827.77
tip            731.58
dtype: float64

집계하기

as_index= True 설정하면 집계 기준이 되는 열이 인덱스 열이 된다.

as_index= False 로 설정하면 행 번호를 기반으로 한 정수 값이 인덱스로 설정된다.

In [17]:
#day 별 tip 합계
print(tip.groupby('day',as_index=True)['tip'].sum())

day
Fri      51.96
Sat     260.40
Sun     247.39
Thur    171.83
Name: tip, dtype: float64

In [18]:
print(tip.groupby('day',as_index=True)[['tip']].sum())

         tip
day
Fri    51.96
Sat   260.40
Sun   247.39
Thur  171.83

In [19]:
print(tip.groupby('day',as_index=False)['tip'].sum())

    day     tip
0   Fri   51.96
1   Sat  260.40
2   Sun  247.39
3  Thur  171.83

In [6]:
#day 별 total_bill,tip 합계 조회

tip_sum = tip.groupby(by='day', as_index = False)[['total_bill','tip']].sum()

print(tip_sum)

    day  total_bill     tip
0   Fri      325.88   51.96
1   Sat     1778.40  260.40
2   Sun     1627.16  247.39
3  Thur     1096.33  171.83

In [13]:
#by옆에도 여러 컬럼이 올 수 있다.
tmp = tip.groupby(by=['day','sex'],as_index=False).mean()
print(tmp)

    day     sex  total_bill       tip      size
0   Fri  Female   14.145556  2.781111  2.111111
1   Fri    Male   19.857000  2.693000  2.100000
2   Sat  Female   19.680357  2.801786  2.250000
3   Sat    Male   20.802542  3.083898  2.644068
4   Sun  Female   19.872222  3.367222  2.944444
5   Sun    Male   21.887241  3.220345  2.810345
6  Thur  Female   16.715312  2.575625  2.468750
7  Thur    Male   18.714667  2.980333  2.433333