## 열 이름 변경

**일부 열 이름 변경**
rename() 메소드 사용 / inplace=True 값 필수!

cut() / rename() / map()

In [47]:
import pandas as pd

path = 'https://bit.ly/Tips2File'
tip = pd.read_csv(path)

In [48]:
print(tip.head())

   total_bill_amount   tip male_female smoke_yes_no week_name dinner_lunch  \
0              16.99  1.01      Female           No       Sun       Dinner
1              10.34  1.66        Male           No       Sun       Dinner
2              21.01  3.50        Male           No       Sun       Dinner
3              23.68  3.31        Male           No       Sun       Dinner
4              24.59  3.61      Female           No       Sun       Dinner

   size
0     2
1     3
2     3
3     2
4     4

**일부 열 이름 변경**

In [25]:
cols = {'total_bill_amount':'total_bill', 'male_female':'sex', 'week_name':'day'}
#변수를 설정해주는게 코드를 짜기 좋다.
tip.rename(columns = cols , inplace = True)
print(tip.head())

   total_bill   tip     sex smoke_yes_no  day dinner_lunch  size
0       16.99  1.01  Female           No  Sun       Dinner     2
1       10.34  1.66    Male           No  Sun       Dinner     3
2       21.01  3.50    Male           No  Sun       Dinner     3
3       23.68  3.31    Male           No  Sun       Dinner     2
4       24.59  3.61  Female           No  Sun       Dinner     4

**모든 열 이름 변경**

In [8]:
# 모든 열 이름을 변경 하는 경우 .columns 속성 사용
tip.columns = ['total_bill','tip','sex','smoker','day','time','size']
print(tip.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 열 추가와 열 삭제

**열추가**

In [30]:
# final_amt 열 추가 하는 경우
tip['total_amt'] = tip['total_bill'] + tip['tip']
tip['div_tb'] = tip['total_bill'] / tip['size']
#위 경우를 사용하여 데이터 순서 변경가능
tip = tip[['total_bill', 'div_tb' , 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'total_bill']]
print(tip.head())

   total_bill   tip     sex smoke_yes_no  day dinner_lunch  size     div_tb  \
0       16.99  1.01  Female           No  Sun       Dinner     2   8.495000
1       10.34  1.66    Male           No  Sun       Dinner     3   3.446667
2       21.01  3.50    Male           No  Sun       Dinner     3   7.003333
3       23.68  3.31    Male           No  Sun       Dinner     2  11.840000
4       24.59  3.61  Female           No  Sun       Dinner     4   6.147500

   total_amt
0      18.00
1      12.00
2      24.51
3      26.99
4      28.20

**열 삭제**

drop() = 메소드를 사용해서 열 삭제

axis = 0 행삭제 (행은 0이 기본임)

axis = 1 열삭제

inplace = True

In [49]:
# 열 삭제도 열 추가와 마찬가지로 변수를 선언해주고 넣는게 코드짜기가 쉽고 편리하다.

x_cols = ['total_amt']
tip.drop(x_cols , axis=1, inplace= True)
print(tip.head())

KeyError: "['total_amt'] not found in axis"

## map 기능

편리한 기능이므로 알아두면 좋다.

범주형 값을 다른 값으로 쉽게 변경 가능

In [52]:
tip['dinner_lunch'] = tip['dinner_lunch'].map({'Dinner': 1, 'Lunch': 0})
print(tip.head())

   total_bill_amount   tip male_female smoke_yes_no week_name  dinner_lunch  \
0              16.99  1.01      Female           No       Sun           NaN
1              10.34  1.66        Male           No       Sun           NaN
2              21.01  3.50        Male           No       Sun           NaN
3              23.68  3.31        Male           No       Sun           NaN
4              24.59  3.61      Female           No       Sun           NaN

   size
0     2
1     3
2     3
3     2
4     4

## cut 함수

**크기를 기준으로 범위를 나누어 등급을 지정 할 때 cut() 함수 사용**

In [53]:
tip['tip_grp'] = pd.cut(tip['tip'], 5 , labels=list('edcba'))
print(tip.head())

   total_bill_amount   tip male_female smoke_yes_no week_name  dinner_lunch  \
0              16.99  1.01      Female           No       Sun           NaN
1              10.34  1.66        Male           No       Sun           NaN
2              21.01  3.50        Male           No       Sun           NaN
3              23.68  3.31        Male           No       Sun           NaN
4              24.59  3.61      Female           No       Sun           NaN

   size tip_grp
0     2       e
1     3       e
2     3       d
3     2       d
4     4       d

In [55]:
# numpy 활용

import numpy as np


bin = [-np.inf, 2.0, 2.9, 3.45, np.inf]
label = ['bronze', 'silver', 'gold', 'platinum']
tip['tip_grp'] = pd.cut(tip['tip'], bins=bin, labels = label)

print(tip['tip_grp'].value_counts())

bronze      78
platinum    75
gold        47
silver      44
Name: tip_grp, dtype: int64

##  결측치 처리

info() / isnull() / notnull() / dropna() / fillna() / interpolate() / ffill,bfill / get_dummise() / concat() / merge() 메소드!

In [57]:
import pandas as pd

path ='https://bit.ly/AirQFile'
air = pd.read_csv(path)

In [58]:
print(air.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [63]:
print(air.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    111 non-null    float64
 1   Solar.R  111 non-null    float64
 2   Wind     111 non-null    float64
 3   Temp     111 non-null    int64
 4   Month    111 non-null    int64
 5   Day      111 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 6.1 KB
None

In [64]:
print(air.isnull().sum())

Ozone      0
Solar.R    0
Wind       0
Temp       0
Month      0
Day        0
dtype: int64

**결측치 제거**

dropna() 메소드 사용

axis = 0 행제거

axis = 1 열제거

In [65]:
# air.dropna(axis = 0 , inplace = True)
# print(air.isna().sum())